

/* 
Picture	
*/
.overheadpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.imageContainer {
  float: center;
  width: 690px;
}
 
/* 
Background Color
*/
body {
  background-color: #49565c;
}


/* 
Settings for the Article portion
*/

.pageContainer {
  height: auto;
  border: 3px solid black;
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 30x;
  background-color: #1a3540;
  text-align: center
  float: center;
}
 

.textContainer {
  text-align: center;
  float: center;
  width: 333px;
  margin-left: 22px;
  margin-top: 22px;
  color: #e2f0dd;
}


h1 {
  font-family:'Brush Script MT', cursive;
  font-size: 64px;
  color: #f3ffe8;
  float: center;
}
 
h2 {
  font-family: 'Times New Roman', serif;
  font-size: 16px;
  color: #e2f0dd;
  float: center;
}

h3{
  font-family: 'Times New Roman', serif;
  font-size: 16px;
  color: #e2f0dd;
  float: center;
}
p, li {
  font-family: 'Times New Roman', serif;
  font-size: 22px;
  color: #e2f0dd;
  float: center;
}

.pageContainer:after { 
  content: " ";
  display: table;
  clear: both;
}

/* 
How the seperators/lines between sections look
*/
 hr {
    border: none;
    border-top: 4px double #4b5e55;
    overflow: visible;
    text-align: center;
    height: 5px;
}

/* 
End/Bottom of Page
*/
footer {
   text-align: center;
   padding: 30x;
   font-family: 'Times New Roman', serif;
   font-size: 22px;
   color: #a679b8;
}

/* unvisited link */
a:link {
  color: #e2f0dd;
}

/* visited link */
a:visited {
  color: #91bda6;
}

/* mouse over link */
a:hover {
  color: #b9ebd1;
}

/* selected link */
a:active {
  color: #91bda6;
}

